04. Meta_Ads_Save_Ggs_Off_Camp_FN_V01 (Tắt Nhóm)_FN2.json
{
  "name": "04. Meta_Ads_Save_Ggs_Off_Camp_FN_V01 (Tắt Nhóm)_FN2",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5184,
        4992
      ],
      "id": "7ec119a8-0a23-42ca-aeca-37ee74a13c00",
      "name": "Split Out Adsets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-active-campaign",
              "leftValue": "={{ $json.campaign.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7cbe5e41-474e-4076-94ff-8c70d55ccffa",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5408,
        4992
      ],
      "id": "f2aecad9-d4d7-4d0d-a3a7-92a0c16d893f",
      "name": "Lọc Campaigns Active"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Nhóm lại các adsets đã lọc thành array để xử lý\nadsets = []\n\n# Thu thập tất cả adsets từ các items (mỗi item là một adset sau IF node)\nfor item in items:\n    if item and item.get('json'):\n        adsets.append(item['json'])\n\n# Trả về với cấu trúc giống như input ban đầu từ HTTP Request\nreturn [{\n    'json': {\n        'data': adsets\n    }\n}]"
      },
      "id": "3e0e6dc1-fc72-4060-be69-c2384d329716",
      "name": "Nhóm lại Adsets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5632,
        4992
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\nfrom collections import defaultdict\n\n# CẤU HÌNH\nTY_GIA = _('Thông Số Đầu Vào').first().json.Ty_Gia\nNGUONG_CPA = _('Quy Đổi Theo Tỷ Suất').first().json.Nguong_CPA\nCOMMENT_KEYS = ['comment']\nMESSAGING_KEYS = ['onsite_conversion.messaging_first_reply']\n\n# Hàm tính CPA\ndef calc_cpa(spend, actions):\n    total = sum(int(a.get('value', 0)) for a in (actions or []) if a.get('action_type') in COMMENT_KEYS + MESSAGING_KEYS)\n    return (spend * TY_GIA) / total if total > 0 else (999999 if spend > 0 else 0)\n\n# Hàm lấy insights\ndef get_insights(obj):\n    return obj.get('insights', {}).get('data', [None])[0] if obj.get('insights', {}).get('data') else None\n\n# Hàm lấy post_id\ndef get_post_id(adset):\n    ads = adset.get('ads', {}).get('data', [])\n    if not ads:\n        return 'No Post ID Found'\n    creative = ads[0].get('creative', {})\n    return creative.get('effective_object_story_id') or creative.get('object_story_id') or ads[0].get('id', 'No Post ID Found')\n\n# Lấy dữ liệu adsets (đã được lọc campaigns ACTIVE)\nadsets = (items[0].json if items else {}).get('data', [])\noutput_to_sheet, output_to_scale, output_adset_turn_off, output_camp_turn_off, output_to_db = [], [], [], [], []\n\n# Nhóm adsets theo campaign\ncampaign_adsets = defaultdict(list)\nfor adset in adsets:\n    campaign = adset.get('campaign', {})\n    campaign_id = campaign.get('id')\n    if campaign_id:\n        campaign_adsets[campaign_id].append({\n            'adset': adset,\n            'campaign': campaign\n        })\n\n# Xử lý từng campaign\nfor campaign_id, adset_list in campaign_adsets.items():\n    campaign = adset_list[0]['campaign']\n    campaign_name = campaign.get('name', 'Unknown')\n    \n    good_adsets = []\n    \n    # Xử lý từng adset trong campaign\n    for item in adset_list:\n        adset = item['adset']\n        insights = get_insights(adset)\n        if not insights:\n            continue\n            \n        spend = float(insights.get('spend', 0) or 0)\n        cpa = calc_cpa(spend, insights.get('actions'))\n        \n        # Kiểm tra CPA: nếu không đạt ngưỡng (CPA > NGUONG_CPA) thì tắt\n        if cpa > NGUONG_CPA:\n            data = {\n                'adset_id': adset.get('id'), 'adset_name': adset.get('name'), 'cpa': cpa,\n                'reason': f'AdSet không đạt ngưỡng CPA (CPA = {cpa} > {NGUONG_CPA})', 'timestamp': datetime.now().isoformat()\n            }\n            output_adset_turn_off.append({'json': data})\n            output_to_db.append({'json': {**data, 'status_recorded': 'PAUSED_BY_AI', 'type': 'adset'}})\n        \n        # CPA tốt -> Thêm vào danh sách\n        if cpa <= NGUONG_CPA:\n            adset['calculated_cpa'] = cpa\n            good_adsets.append(adset)\n    \n    # Xử lý nhóm tốt\n    count_good = len(good_adsets)\n    \n    # CASE A: Campaign có >= n nhóm tốt -> Ghi Sheet\n    if count_good >= _('Thông Số Đầu Vào').first().json.Bao_Nhieu_Nhom_Tot:\n        for g in good_adsets:\n            output_to_sheet.append({'json': {\n                'campaign_id': campaign_id, 'campaign_name': campaign_name,\n                'adset_id': g.get('id'), 'adset_name': g.get('name'),\n                'cpa': g.get('calculated_cpa'), 'post_id': get_post_id(g),\n                'note': f'Camp ổn định ({count_good} nhóm tốt, CPA <= {NGUONG_CPA})'\n            }})\n  \nreturn {\n    'report_sheet': output_to_sheet,\n    'action_turn_off_adset': output_adset_turn_off,\n    'action_turn_off_campaign': output_camp_turn_off,\n    'action_scale': output_to_scale,\n}"
      },
      "id": "3014fb81-bec0-4edd-922b-b9b85c352268",
      "name": "Phân Loại & Xử Lý Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        4992
      ],
      "output": [
        "report_sheet",
        "action_turn_off_adset",
        "action_turn_off_campaign",
        "action_scale",
        "save_to_db"
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "action_turn_off_adset",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6304,
        4992
      ],
      "id": "38b31d6f-90e9-4d2a-b828-d0b3e934ddf9",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        4288,
        4992
      ],
      "id": "d1e89f38-3176-4757-b40a-5f78c8e2eaec",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3acae58a-6d3c-4db5-a1aa-edf9cd88181b",
              "name": "access_token",
              "value": "EAATostwKkxMBQKqLOPRtu9S0G1mw2e0qk6buF1ABoBN55kZCPIakYokDJI2eAWJvFzzWXYZCTZBbAAosCyp2fOTbmQHOM62Mt1TcqTiHzmk96s6x9KZBEqwFvnzZC4J2roZC3ziZAoOZAMbV4LBhnC1Ol3miZBYlfl75a47XwNgV0v6NBXnCiUQEK7hXWDPD06ypWvaCZBNQGjzSFUY87sTr9K",
              "type": "string"
            },
            {
              "id": "1dda0de4-888e-4d16-9892-0491110769e8",
              "name": "Nguong_CPA",
              "value": 20000,
              "type": "number"
            },
            {
              "id": "e06e933a-425d-4633-ac53-f70f7a04aec1",
              "name": "Cam_Chi_Tieu_Nguong_Tren",
              "value": 3500000,
              "type": "number"
            },
            {
              "id": "fa677240-82bc-4d7f-8920-075213b9bdf2",
              "name": "Cam_Chi_Tieu_Nguong_Duoi",
              "value": 1000000,
              "type": "number"
            },
            {
              "id": "3b389a25-5c9c-4253-bb1c-63a25ebb892a",
              "name": "ID_Ads",
              "value": "1036361418710293",
              "type": "string"
            },
            {
              "id": "2bdfd254-b79e-461b-bc1b-70e151024d10",
              "name": "Bao_Nhieu_Nhom_Tot",
              "value": 1,
              "type": "number"
            },
            {
              "id": "6454eca5-407b-426b-a213-5f0dffebd5c3",
              "name": "Ty_Gia",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        4992
      ],
      "id": "64370ec8-ffd9-4908-b6d5-11c749fe2606",
      "name": "Thông Số Đầu Vào"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f06248d3-79e8-4c06-9c27-e1f1a1a7116a",
              "name": "Nguong_Tren",
              "value": "={{ $json.Cam_Chi_Tieu_Nguong_Tren / $json.Ty_Gia }}",
              "type": "number"
            },
            {
              "id": "5edf6042-b206-4323-9a38-7b1b059548a0",
              "name": "Nguong_Duoi",
              "value": "={{ $json.Cam_Chi_Tieu_Nguong_Duoi/$json.Ty_Gia }}",
              "type": "number"
            },
            {
              "id": "d2749306-3ae1-43a5-be23-789910643ef4",
              "name": "Nguong_CPA",
              "value": "={{ $json.Nguong_CPA / $json.Ty_Gia }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4736,
        4992
      ],
      "id": "965b631e-3482-465f-9914-11f05be22c5d",
      "name": "Quy Đổi Theo Tỷ Suất"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e152122-eba9-4119-924c-63119ec98a4e",
              "name": "action_turn_off_adset",
              "value": "={{ $json.action_turn_off_adset }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6080,
        4992
      ],
      "id": "4e482009-21da-4993-8be5-6e7842a0e6ff",
      "name": "Nhóm cần tắt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $json.json.adset_id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "523981d8-2d70-40ff-bec9-379a9e11ea20",
      "name": "Tắt nhom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6528,
        4992
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/act_{{ $('Thông Số Đầu Vào').item.json.ID_Ads }}/adsets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,status,daily_budget,insights.date_preset(maximum){spend,actions},campaign{id,name,status},ads{id,name,creative{effective_object_story_id}}"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "filtering",
              "value": "=[{\"field\":\"spend\",\"operator\":\"GREATER_THAN_OR_EQUAL\",\"value\":{{ $json.Nguong_Duoi }}},{\"field\":\"spend\",\"operator\":\"LESS_THAN_OR_EQUAL\",\"value\":{{ $json.Nguong_Tren }}}]"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c16a104-9470-445f-aa05-fd8ad1a57f13",
      "name": "Lấy dữ liệu Nhóm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4960,
        4992
      ],
      "notesInFlow": true,
      "notes": "Thay YOUR_TOKEN và ID tài khoản QC"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out Adsets": {
      "main": [
        [
          {
            "node": "Lọc Campaigns Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc Campaigns Active": {
      "main": [
        [
          {
            "node": "Nhóm lại Adsets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nhóm lại Adsets": {
      "main": [
        [
          {
            "node": "Phân Loại & Xử Lý Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phân Loại & Xử Lý Logic": {
      "main": [
        [
          {
            "node": "Nhóm cần tắt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Tắt nhom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Thông Số Đầu Vào",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông Số Đầu Vào": {
      "main": [
        [
          {
            "node": "Quy Đổi Theo Tỷ Suất",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quy Đổi Theo Tỷ Suất": {
      "main": [
        [
          {
            "node": "Lấy dữ liệu Nhóm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nhóm cần tắt": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy dữ liệu Nhóm": {
      "main": [
        [
          {
            "node": "Split Out Adsets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7fb4b29-b949-402a-8bef-8da287ff9338",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "jZj9OaLbJBPRvFK0",
  "tags": []
}