04. Meta_Ads_Save_Ggs_Off_Camp_FN.json
{
  "name": "04. Meta_Ads_Save_Ggs_Off_Camp_FNV03",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -80
      ],
      "id": "db0b50ae-b852-43e5-b219-bddc613ad001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3acae58a-6d3c-4db5-a1aa-edf9cd88181b",
              "name": "access_token",
              "value": "",
              "type": "string"
            },
            {
              "id": "1dda0de4-888e-4d16-9892-0491110769e8",
              "name": "Nguong_CPA",
              "value": 20000,
              "type": "number"
            },
            {
              "id": "e06e933a-425d-4633-ac53-f70f7a04aec1",
              "name": "Cam_Chi_Tieu_Nguong_Tren",
              "value": 2000000,
              "type": "number"
            },
            {
              "id": "fa677240-82bc-4d7f-8920-075213b9bdf2",
              "name": "Cam_Chi_Tieu_Nguong_Duoi",
              "value": 1000000,
              "type": "number"
            },
            {
              "id": "3b389a25-5c9c-4253-bb1c-63a25ebb892a",
              "name": "ID_Ads",
              "value": "1036361418710293",
              "type": "string"
            },
            {
              "id": "2bdfd254-b79e-461b-bc1b-70e151024d10",
              "name": "Bao_Nhieu_Nhom_Tot",
              "value": 1,
              "type": "number"
            },
            {
              "id": "6454eca5-407b-426b-a213-5f0dffebd5c3",
              "name": "Ty_Gia",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -80
      ],
      "id": "cb23bb48-9967-42e3-8ea2-5739cfadb1b7",
      "name": "Thông Số Đầu Vào"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f06248d3-79e8-4c06-9c27-e1f1a1a7116a",
              "name": "Nguong_Tren",
              "value": "={{ $json.Cam_Chi_Tieu_Nguong_Tren / $json.Ty_Gia }}",
              "type": "number"
            },
            {
              "id": "5edf6042-b206-4323-9a38-7b1b059548a0",
              "name": "Nguong_Duoi",
              "value": "={{ $json.Cam_Chi_Tieu_Nguong_Duoi / $json.Ty_Gia }}",
              "type": "number"
            },
            {
              "id": "d2749306-3ae1-43a5-be23-789910643ef4",
              "name": "Nguong_CPA",
              "value": "={{ $json.Nguong_CPA / $json.Ty_Gia }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -80
      ],
      "id": "7daaa142-dfbb-452f-8ea0-b6e8378d284a",
      "name": "Quy Đổi Theo Tỷ Suất"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/act_{{ $('Thông Số Đầu Vào').first().json.ID_Ads }}/adsets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,status,daily_budget,insights.date_preset(maximum){spend,actions},campaign{id,name,status},ads{id,name,creative{effective_object_story_id}}"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "filtering",
              "value": "=[{\"field\":\"spend\",\"operator\":\"GREATER_THAN_OR_EQUAL\",\"value\":{{ $json.Nguong_Duoi }}},{\"field\":\"spend\",\"operator\":\"LESS_THAN_OR_EQUAL\",\"value\":{{ $json.Nguong_Tren }}}]"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3be3894e-a65e-419a-ace8-9d4921d0b623",
      "name": "Lấy dữ liệu Nhóm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        144,
        -80
      ],
      "notesInFlow": true,
      "notes": "Thay YOUR_TOKEN và ID tài khoản QC"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        -80
      ],
      "id": "6edb1f18-4200-41ef-a33b-d435faf27cc3",
      "name": "Split Out Adsets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-active-campaign",
              "leftValue": "={{ $json.campaign.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -80
      ],
      "id": "3a2c18c9-43ed-4ac6-90cb-258653b61edd",
      "name": "Lọc Campaigns Active"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-active-adset",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        -272
      ],
      "id": "977d95f6-5cff-406a-9b94-f4562dc7317c",
      "name": "Lọc Adsets ACTIVE"
    },
    {
      "parameters": {
        "jsCode": "// Lấy thông số\nconst tyGia = $('Thông Số Đầu Vào').first().json.Ty_Gia;\nconst nguongCPA = $('Quy Đổi Theo Tỷ Suất').first().json.Nguong_CPA;\n\n// Xử lý item hiện tại (n8n sẽ tự động loop qua từng item từ Split Out)\nconst item = items[0];\nif (!item || !item.json) {\n  return [];\n}\n\n// Lấy insights\nconst insights = item.json.insights?.data?.[0] || null;\nif (!insights) {\n  return [];\n}\n\n// Tính tổng actions (comment + messaging)\nconst actions = insights.actions || [];\nlet totalActions = 0;\nfor (const action of actions) {\n  if (action.action_type === 'comment' || action.action_type === 'onsite_conversion.messaging_first_reply') {\n    totalActions += parseInt(action.value || 0);\n  }\n}\n\n// Tính CPA\nconst spend = parseFloat(insights.spend || 0);\nconst cpa = totalActions > 0 ? (spend * tyGia) / totalActions : (spend > 0 ? 999999 : 0);\n\n// Lấy post_id\nconst ads = item.json.ads?.data || [];\nlet postId = 'No Post ID Found';\nif (ads.length > 0) {\n  const creative = ads[0].creative || {};\n  postId = creative.effective_object_story_id || creative.object_story_id || ads[0].id || 'No Post ID Found';\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    calculated_cpa: cpa,\n    post_id: postId,\n    total_actions: totalActions,\n    spend: spend\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -272
      ],
      "id": "c9c169b9-fa90-4c51-a723-cc1b50e0a3eb",
      "name": "Tính CPA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-cpa",
              "leftValue": "={{ $json.calculated_cpa }}",
              "rightValue": "={{ $('Quy Đổi Theo Tỷ Suất').first().json.Nguong_CPA }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        -272
      ],
      "id": "3052812f-25ba-43c7-aabe-b587c934add5",
      "name": "Kiểm tra CPA > Ngưỡng"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adset-id",
              "name": "adset_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "adset-name",
              "name": "adset_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "campaign-id",
              "name": "campaign_id",
              "value": "={{ $json.campaign.id }}",
              "type": "string"
            },
            {
              "id": "campaign-name",
              "name": "campaign_name",
              "value": "={{ $json.campaign.name }}",
              "type": "string"
            },
            {
              "id": "cpa-value",
              "name": "cpa",
              "value": "={{ $json.calculated_cpa }}",
              "type": "number"
            },
            {
              "id": "post-id",
              "name": "post_id",
              "value": "={{ $json.post_id }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ 'AdSet không đạt ngưỡng CPA (CPA = ' + $json.calculated_cpa + ' > ' + $('Quy Đổi Theo Tỷ Suất').first().json.Nguong_CPA + ')' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        -272
      ],
      "id": "ef421a4c-d548-4f7f-939e-115654b55451",
      "name": "Chuẩn bị dữ liệu"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $json.adset_id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d100d120-17bf-4604-b821-f0a142f1382d",
      "name": "Tắt nhom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1936,
        -208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        -80
      ],
      "id": "8bb0f5a6-c990-4260-8cbb-1875383cb007",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Thông Số Đầu Vào",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông Số Đầu Vào": {
      "main": [
        [
          {
            "node": "Quy Đổi Theo Tỷ Suất",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quy Đổi Theo Tỷ Suất": {
      "main": [
        [
          {
            "node": "Lấy dữ liệu Nhóm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy dữ liệu Nhóm": {
      "main": [
        [
          {
            "node": "Split Out Adsets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Adsets": {
      "main": [
        [
          {
            "node": "Lọc Campaigns Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc Campaigns Active": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc Adsets ACTIVE": {
      "main": [
        [
          {
            "node": "Tính CPA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tính CPA": {
      "main": [
        [
          {
            "node": "Kiểm tra CPA > Ngưỡng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra CPA > Ngưỡng": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuẩn bị dữ liệu": {
      "main": [
        [
          {
            "node": "Tắt nhom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Lọc Adsets ACTIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tắt nhom": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "85a30d9e-4bfe-4f3d-a08c-3556971ecc50",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "xKYvYwEKYiU1AFED",
  "tags": []
}